  @font-face {
    font-family: 'Programme';
    src: url(programme_bold.woff) format('woff');
    font-style: normal;
    font-weight: bold;
  }

  @font-face {
    font-family: 'Programme';
    src: url(programme_normal.woff) format('woff');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Programme';
    src: url(programme_normal_italic.woff) format('woff');
    font-style: italic;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Programme';
    src: url(programme_light.woff) format('woff');
    font-style: normal;
    font-weight: 100;
  }

  @font-face {
    font-family: 'Programme';
    src: url(programme_ligth_italic.woff) format('woff');
    font-style: italic;
    font-weight: 100;
  }
